<%-include('./layouts/admin-header.ejs')%>
  <div class="main">
    <%-include('./layouts/admin-navbar.ejs')%>
    <div class="container-fluid">
      <div class="page-title">
        <h1>修改密码</h1>
      </div>
      <!-- 有错误信息时展示 -->
      <div class="alert alert-danger" hidden>
        <strong>错误！</strong><span>发生XXX错误</span>
      </div>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="old" class="col-sm-3 control-label">旧密码</label>
          <div class="col-sm-7">
            <input id="old" class="form-control" type="password" placeholder="旧密码">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">新密码</label>
          <div class="col-sm-7">
            <input id="password" class="form-control" type="password" placeholder="新密码">
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="col-sm-3 control-label">确认新密码</label>
          <div class="col-sm-7">
            <input id="confirm" name='password' class="form-control" type="password" placeholder="确认新密码">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-7">
            <input type="button" class="btn btn-primary btnEidt" value='修改密码'>
          </div>
        </div>
      </form>
    </div>
  </div>
  <%-include('./layouts/admin-aside.ejs')%>
<%-include('./layouts/admin-footer.ejs')%>
<script src='/assets/js/passwordReset.js'></script>
